.word-tile {
  display: inline-block;
  font-weight: bold;
  font-size: 2em;
  padding: 0.5em;
  border: 1px solid black;
  margin: 0.5em;
  font-family: 'Comic Sans MS';
  background-color: white;
  color: black;
  user-select: none;
}

.word-tile.placed {
  position: absolute;
  margin: 0;
}

.fridge {
  width: 50em;
  height: 40em;
  background: black;
  padding: 0;
  position: relative;
}